html {
    height: 100%;
}

body {
    background: url('../../media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
 align-items: center;
 display: inline-flex;
 justify-content: center;
 height: 1.5rem;
 width: 1.5rem;
}

.main-logo-link{
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    border: 1px solid white;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.transparent-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.white-overlay {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg-black {
    background-color: black !important;
}

.product-img {
    height: 300px;
    width: auto;
}

.img-bag {
    height: 100px;
    width: auto;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-link {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* to exempt elements from hover option */
.no-hover:hover {
    background: none !important;
}

/* stack quantity buttons in a vertical group */
.qty-btns {
    height: calc(1.5em + 0.75rem + 2px);
}

.qty-btns button {
    height: 50%;
    font-size: 0.6rem;
    padding: 0 0.25rem;
}

.qty-btns>button:not(:last-child) {
    border-bottom: 1px solid white;
}

.qty-btns>button:last-child {
    border-top: 1px solid white;
}

.qty-btns .icon {
    height: 1rem;
    width: 1rem;
}

.qty_input {
    text-align: center;
}

/* Remove Arrows/Spinners from input type number - code taken from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formating */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d /* text-secondary */;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0; 
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transition */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
}

/* ------ Media Queries ----- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    body {
        height: calc(100vh - 164px);
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px){
    .header-container {
        padding-top: 135px;
    }

    body {
        height: calc(100vh - 135px);
    }
}

/* Fit top navigation on smallest screen sizes */
@media (max-width: 576px) {
    .navbar {
        padding: 0.5rem 0.4rem;
    }
    .nav-link {
        padding: 0.5rem 0.4rem;
        font-size: 0.95rem;
    }
    
}