{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="white-overlay"></div>
<div class="container-fluid">
    <div class="row">
        <!-- Product image -->
        <div class="col-12 col-md-5 col-lg-3 justify-content-lg-center d-flex">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" alt="Book cover for {{ product.title }} by {{ product.authors }}" class="product-img card-img-top img-fluid">
                    </a>
                {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}.noimage.png" alt="Book cover for {{ product.title }} by {{ product.authors }}" class="product-img card-img-top img-fluid">
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Important details and add to bag button -->
        <div class="col-12 col-md-7 col-lg-4">
            <div class="product-details-container mb-md-5 mt-md-5">
                <h2 class="mb-0"><strong>{{ product.title }}</strong></h2>
                <p class="mb-0">by {{ product.authors }}</p>
                <p><strong>format:</strong>{{ product.format }}</p>
                {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5 </small>
                {% else %}
                    <small class="text-muted">No rating</small>
                {% endif %}
                <p class="lead text-left font-weight-bold">${{ product.price}}</p>
            </div>
            <form action="{% url 'add_to_bag' product.id %}" class="form" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <input type="number" name="quantity" value="1" min="1" max="5" data-item_id="{{ product.id }}" class="form-control qty_input id_qty_{{ product.id }}">
                                <div class="btn-group-vertical qty-btns">
                                    <button class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                    <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep shopping</span>
                        </a>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add to Basket">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
        <hr class="w-100 d-lg-none">
        <!-- More details about the product -->
        <div class="col-12 col-lg-5 mb-5 mt-3 mt-md-5 pr-5">
            <p class="mb-0"><strong>Publication: </strong>{{ product.publisher}}, {{ product.publication_date }}</p>
            <p class="mb-0"><strong>ISBN / ISBN13: </strong>{{ product.isbn }} / {{ product.isbn13 }} </p>
            <p class="mb-0"><strong>Pages: </strong>{{ product.pages }}</p>
            <p class="mb-0"><strong>Genre: </strong> 
                {% if product.genre %}
                <!-- Displaying genres as a comma separated list  -->
                    {% for genre in product.genre.all %}
                        {% if forloop.last %}
                            <a class="text-muted" href="{% url 'products' %}?genre={{ genre.name }}">
                                {{ genre.friendly_name }}
                            </a>
                        {% else %}
                            <a class="text-muted" href="{% url 'products' %}?genre={{ genre.name }}">
                                {{ genre.friendly_name }}
                            </a>, 
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
            <p class="mb-0 mt-3"><strong>Description:</strong></p>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}